.words {
	width: 100vw;
	height: 100vh;

	background-color: black;
}

.words__list {
	margin: 0 auto;
	color: white;
	/*background-color: rgba(0,0,0,0.1);*/
	padding-bottom: 15vh;
}


.words__item {
	display: flex;
	align-items: center;
	width: 100vw;
	margin: 5px 0;
	box-sizing: border-box;
	color: white;
	background-color: rgba(255,255,255, 0.1)
}

.words__item-time {
    padding-left: 5px;
    box-sizing: border-box;
	width: 20vw;
	min-width: 20vw;
	font-family: Circe-Light, serif;
}

.words__item-text {
	width: 25vw;
	min-width: 25vw;
	padding-left: 7px;
	text-align: left;
	color: white;
	font-family: Circe-Light, serif;
}

.words__item-vector {
	width: 25vw;
	min-width: 25vw;
	padding-left: 7px;
	text-align: left;
	color: white;
	font-family: Circe-Light, serif;
}

.words__send {
	width: 30vw;
	min-width: 30vw;
	padding: 5px;
	font-size: 15px;
	font-family: Circe-Regular, serif;
	background-color: #c5cf40;
	color: white;
	border: none;
	box-sizing: border-box;
}

.words__send--blocked {
	opacity: 0.1;
	color: white;
	pointer-events: none;
}
