.words {
	width: 100vw;
	height: 100vh;

	background-color: black;
}

.words__list {
	margin: 0 auto;
	color: white;
	/*background-color: rgba(0,0,0,0.1);*/
	padding-bottom: 25vh;
}


.words__item {
	display: flex;
	align-items: center;
	width: 100vw;
	margin: 5px 0;
	box-sizing: border-box;
	color: white;
	background-color: rgba(255,255,255, 0.1)
}

.words__item-time {
    padding-left: 5px;
    box-sizing: border-box;
	width: 20vw;
	min-width: 20vw;
	font-family: Circe-Light, serif;
}

.words__item-text {
	width: 25vw;
	min-width: 25vw;
	padding-left: 7px;
	text-align: left;
	color: white;
	font-family: Circe-Light, serif;
}

.words__item-vector {
	width: 10vw;
	min-width: 10vw;
	padding-left: 7px;
	text-align: left;
	color: white;
	font-family: Circe-Light, serif;
}

.words__header {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.words__header-name {
	padding-top: 4px;
	font-size: 30px;
	text-align: center;
	flex: 1;
}

.words__button {
	padding: 5px;
	font-size: 15px;
	font-family: Circe-Regular, serif;
	background-color: #c5cf40;
	color: white;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}

.words__send,.words-whole-vector__send {
	width: 30vw;
	min-width: 30vw;
}

.words__edit {
	width: 15vw;
	min-width: 15vw;
	margin-right: 5px;
}

.words__send--blocked {
	opacity: 0.1;
	color: white;
	pointer-events: none;
}


.edit-word-form-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0,0,0,0.9);
}

.edit-word-form {
	width: 80vw;
}

.edit-word-form__input-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.edit-word-form__input {
	width: 100vw;
	padding: 10px;
	font-size: 20px;
	font-family: Circe-Light, serif;
	color: white;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.3);
	box-sizing: border-box;
}

.edit-word-form__submit {
	width: 150px;
	max-width: 150px;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px;
	font-family: Circe-Regular, serif;
	text-transform: uppercase;
	background: linear-gradient(45deg, #489c9a, #f2cf37);
	color: white;
	border: none;
	box-sizing: border-box;
}

.edit-word-form__submit[disabled] {
	opacity: 0.5;
}
