module.exports = {
	"targethost":	"http://192.168.1.53:3000/",
	"waittargethost": false,
	"admin_password":	"123",
	"question"	: 	"Для открытия миру Лимпарзы<br> я готов(а)",
	"showtwitch": 	true,
	"twitchchannel"	: 	"silvername",
}
