.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
	background-color: black;
	color: white;
}

.question-logo {
	margin-top: 10%;
	margin-bottom: 10%;
}

.question-logo img {
	max-width: 80vw;
	max-height: 25vh;
}

.question-form {

	box-sizing: border-box;

	margin: 0 auto;
	/*border: 1px solid black;*/
	text-align: left;
	border-radius: 3px;
	width: 100vw;
	padding: 15px;
}

.question-form--hide {
	display: none;
}

.question-form__question {
	font-size: 20px;
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
	font-family: Circe-Regular, serif;
}

.question-form__input-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.question-form__input {
	width: 100vw;
	padding: 10px;
	font-size: 20px;
	font-family: Circe-Light, serif;
	color: white;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.3);
	box-sizing: border-box;
}

.question-form__submit {
	width: 150px;
	max-width: 150px;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px;
	font-family: Circe-Regular, serif;
	text-transform: uppercase;
	background: linear-gradient(45deg, #489c9a, #f2cf37);
	color: white;
	border: none;
	box-sizing: border-box;
}

.question-form__submit[disabled] {
	opacity: 0.5;
}

.question-result {
	margin: 0 auto;
	text-align: center;
}

.question-result--hide {
	display: none;
}

.question-result__text {
	font-family: Circe-Regular, serif;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}

.question-result__text--big {
	font-family: Circe-Regular, serif;
	font-size: 40px;
}

.question-result__text--last {
	margin-top: 25px;
	font-family: Circe-Light, serif;
}
